body {
   font-family: 'Dancing Script', cursive;
   color: white;
}

#container {
   width: 1500px;
   margin:auto;
   box-sizing: border-box;
   border: 1px solid red;
}

header {
    height: 350px;
    width: 100%;
    color: white;
    box-sizing: border-box;
    background-image: url('images/B.gif');
}

.navbar {
    background: #4CAF50;
}

.content {
    background: black;
    border:1px solid green;
    height: 900px;
}

.column {
    width:700px;
    height: 750px;
    box-sizing: border-box;
    text-align: center;
    padding-left:10px;
    font-size: 48px;
    border-radius: 50px;
    border: 1px solid yellow;
}

.left {
    float: left;
    background: black;
}

.right {
    float: right;
    background: url("images/ABCD.gif") black no-repeat;
}

.clearfix:after {
    content:" ";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    height: 50px;
    background: #4CAF50;
    width: 100%;
    border: 1px solid black;
}

.nav li {
    padding-top: 25px;
    color:white;
    height: 100px;
    font-size: 28px;
    font-family: "Comic Sans MS";
    text-transform: uppercase;
}

.nav li:hover {
    color: #4CAF50;
    background: white;
}

@keyframes example {
    from {color: white;}
    to {color: black;}
}

h3 {
    display: inline-block;
    font-size: 36px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation-name: example;
    animation-duration: 17s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes example1 {
    from {color: white;}
    to {color: red;}
}

span {
    color: white;
    animation-name: example1;
    animation-duration: 17s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
