body {
   font-family: 'Dancing Script', cursive;
   color: white;
}

#container {
   width: 1500px;
   margin:auto;
   box-sizing: border-box;
}

header {
    height: 1000px;
    color: white;
    box-sizing: border-box;
    background: url('') black no-repeat;
}

.navbar {
    background: #4CAF50;
}

.left-column {
    background: url('images/A.gif') no-repeat;
    height: 670px;
    padding-top: 10%;
    padding-left: 30px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 20px;
}

.right-column {
    background: url('images/ABCD.gif') black no-repeat center;
    height: 670px;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 20px;
}

.row {
    margin: auto;
    background: black;
}

footer {
    text-align: center;
    background: #4CAF50;
    width: 100%;
    height: 150px;
}

.form-inline {
    padding: 30px;
}

#nav, #all_about_us, #contact_form, #hobby {
    display: none;
}

.pre {
    text-align: center;
}

#lead {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.nav li>a {
    line-height: 52px;
    font-size: 28px;
    text-align: center;
    font-family: "Comic Sans MS";
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover {
    background: white;
    color: #4CAF50;
}

.sr-only {
    background: white;
}

.dropdown-menu li>a {
    line-height: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 22px;
    color: black;
}

.dropdown-menu li {
    font-family: "Comic Sans MS";
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 22px;
    color: black;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

#decor {
    width: 150px;
    height: 150px;
    color: #4CAF50;
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 500px;
    right: 5%;
    z-index:10;
}


h3 {
    width: 95%;
    height:95%;
    padding-top: 10px;
    line-height: 1.2;
    font-size: 72px;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em green;
}

#hobby {
    text-align: center;
    background: black;
}

#hobby img {
    margin-bottom: 30px;
    border-radius: 20px;
}

#about_me {
    width: 700px;
}

.left-column img {
    float: left;
    border-radius: 20px;
    border: 5px solid white;
}

.p p {
    float: right;
    width: 65%;
    color: black;
    font-family: serif;
    font-size: 22px;
    background: white;
    text-align: center;
}

p+p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.skills {
    font-size: 22px;
    font-family: sans-serif;
    color: white;
    background: #4CAF50;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

label {
    width: 65%;
    height: 80px;
    font-size: 22px;
    background: transparent;
    color: black;
    text-align: center;
}

@keyframes mymoveh {
    from {
        width: 400px;
        background: green;
    }
    to {
        width: 500px;
        background: green;
    }
}

#html {
    background: green;
    animation: mymove 5s 0;
    width: 500px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

@keyframes mymovec {
    from {
        width: 350px;
        background: blue;
    }
    to {
        width: 450px;
        background: blue;
    }
}

#css {
    background: blue;
    animation: mymove 5s 0;
    width: 450px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

@keyframes mymovej {
    from {
        width: 300px;
        background: yellow;
    }
    to {
        width: 400px;
        background: yellow;
    }
}

#javascript {
    background: yellow;
    animation: mymove 5s 0;
    width: 400px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.p .wishes {
    font-size: 31px;
    text-transform: uppercase;
    border-radius: 20px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em yellow;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.p {
    text-align: right;
    margin-right: 40px;
}

.wishes .soft {
    color: #17B5D8;
    text-transform: none;
}

.wishes span {
    color: #000052;
    text-transform: none;
}

.p .align {
    text-align: left;
    background: green;
} 

@keyframes example1 {
    from {color: black;}
    to {color: white;}
}

h3 .one {
    color: black;
    animation-name: example1;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes example2 {
    from {color: black;}
    to {color: white;}
}

h3 .two {
    color: black;
    animation-name: example2;
    animation-duration: 9s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes example3 {
    from {color: black;}
    to {color: white;}
}

h3 .three {
    color: black;
    animation-name: example3;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes example4 {
    from {color: black;}
    to {color: white;}
}

h3 .four {
    color: black;
    animation-name: example4;
    animation-duration: 7s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes example5 {
    from {color: black;}
    to {color: red;}
}

h3 .five {
    color: black;
    animation-name: example5;
    animation-duration: 11s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes skills {
    from {color: white;}
    to {color: #4CAF50;;}
}

.skills {
    color: white;
    animation-name: skills;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#contact_form {
    text-align: center;
}

.form-group label {
    height: 30px;
    color: white;
}

