body {
   width: 100%;
   margin:auto;
   font-family: 'Dancing Script', cursive;
   color: white;
}

#container {
   width: 1500px;
   height: 850px;
   margin:auto;
   box-sizing: border-box;
}

header {
    height: 75px;
    width: 100%;
    color: black;
    background: #F5ECCE;
    box-sizing: border-box;
}

nav {
    text-align: right;
    height: 75px;
    background: #4CAF50;
    width: 100%;
    box-sizing: border-box;
}

#content {
    width:100%;
    height: 650px;
    box-sizing: border-box;
}

#about_me {
    float: left;
    width:45%;
    height: 650px;
    background: black;
    opacity: 0.88;
    box-sizing: border-box;
    text-align: left;
    padding-left:10px;
    font-size: 48px;
}

.background {
    float: right;
    height: 650px;
    width:55%;
    text-align: right;
    padding-top: 550px;
    padding-right: 20px;
    font-size: 36px;
    background: url("images/ABCD.jpg") #F5ECCE no-repeat;
    box-sizing: border-box;
}

footer {
    clear: both;
    text-align: center;
    height: 50px;
    background: #4CAF50;
    width: 100%;
    border: 1px solid black;
}

h1 {
    font-size: 48px;
    text-align: left;
    padding-top:0px;
    margin: 0px 20px;
    height:75px;
}

nav a {
    width: auto;
    height: 75px;
    margin: 0px 20px;
    padding-top: 30px;
    display:inline-block;
    color:white;
    text-decoration:none;
    font-size: 24px;
    font-family: "Comic Sans MS";
    text-transform: uppercase;
    box-sizing: border-box;
    
    
}

nav a:hover {
    color: #4CAF50;
    background: white;
}

.video {
    position:relative;
    top:10px;
    left: -5px;
    text-align: center; 
}

@keyframes example {
    from {color: black;}
    to {color: white;}
}

h3 {
    font-size: 36px;
    text-align: center;
    margin: 5px 20px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation-name: example;
    animation-duration: 21s;
}

@keyframes example1 {
    from {color: black;}
    to {color: red;}
}

span {
    color: black;
    animation-name: example1;
    animation-duration: 21s;
}
